.woocommerce {
  .woocommerce-MyAccount-navigation {
    .woocommerce-MyAccount-navigation-link {
      &.is-active {
        a {
          @apply font-bold;
        }
      }

      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  .woocommerce-Button {
    background-color: #3ab23a !important;
    color: #ffffff !important;
    border-radius: 0.5rem !important;
    font-weight: 600 !important;
    padding: 0.25rem 0.5rem !important;
    @apply transition-all;

    &:hover {
      background-color: #2e8a2e !important;
    }
  }

  .woocommerce-MyAccount-content {
    overflow-x: auto;

    .table-auto {
      .woocommerce-orders-table__cell-order-actions {
        .woocommerce-button.wp-element-button {
          background-color: #3ab23a !important;
          color: #ffffff !important;
          border-radius: 0.5rem !important;
          font-weight: 600 !important;
          padding: 0.25rem 0.5rem !important;
          @apply transition-all mr-2;

          &:hover {
            background-color: #2e8a2e !important;
          }

          &:last-child {
            margin-right: 0 !important;
          }

          &.cancel {
            background-color: #e3342f !important;

            &:hover {
              background-color: #cc1f1a !important;
            }
          }

          &.pay {
            background-color: #3490dc !important;

            &:hover {
              background-color: #2779bd !important;
            }
          }
        }
      }
    }
  }

  .searchandfilter {
    li {
      &.hidden {
        display: none !important;
      }

      &:first-child {
        @apply pt-0;
      }

      &:last-child {
        @apply pb-0;
      }

      h4 {
        // background: radial-gradient(100% 1904.13% at 0% 100%, rgba(58, 178, 58, 0.2) 0%, rgba(58, 178, 58, 0) 100%), #f3f3f3;
        // @apply py-3 px-6 rounded-lg font-bold text-sm mb-2;
        @apply font-bold text-sm mb-2 relative border-b cursor-pointer;

        &::after {
          content: '\f0d7';
          font-family: 'Font Awesome 5 Free';

          @apply absolute right-0 top-1/2 transform -translate-y-3/4 text-black;
        }
      }

      &.closed {
        h4 {
          @apply border-b-primary;

          &::after {
            content: '\f0d8';
          }
        }

        & > ul {
          display: none;
        }

        & > label {
          display: none;
        }
      }

      ul {
        @apply pl-4 mt-4;

        li {
          @apply flex items-center text-sm;

          .sf-input-checkbox {
            @apply appearance-none rounded-md w-5 h-5 p-0 bg-gray-200;

            &:checked {
              @apply bg-primary-light;
            }
          }
        }
      }
    }

    .show-more {
      @apply border-b border-black inline-block;

      button {
        @apply bg-transparent p-0 text-black font-bold;

        &::after {
          content: '\f078';
          font-family: 'Font Awesome 5 Free';

          @apply ml-2 no-underline text-xs;
        }

        &.open {
          &::after {
            content: '\f077';
          }
        }
      }
    }

    .sf-meta-range {
      display: grid;
      grid-template-areas:
        'min divider max'
        'slider slider slider';
      align-items: center;
      justify-items: center;

      & > label:nth-child(1) {
        grid-area: min;
        justify-self: start;
      }

      & > label:nth-child(3) {
        grid-area: max;
        justify-self: end;
      }

      .sf-range-values-seperator {
        grid-area: divider;
      }

      .meta-slider {
        grid-area: slider;
        @apply w-full;
      }
    }
  }

  table.table-auto {
    @apply w-full;

    thead {
      @apply bg-gray-100;

      th {
        @apply text-left text-sm font-bold text-gray-900 py-2 px-4;

        &:first-child {
          @apply rounded-tl-lg;
        }

        &:last-child {
          @apply rounded-tr-lg;
        }
      }
    }

    tbody {
      tr {
        td {
          @apply py-2 px-2;
        }

        &:nth-child(even) {
          @apply bg-gray-100;
        }

        &:last-child {
          td {
            &:first-child {
              @apply rounded-bl-lg;
            }

            &:last-child {
              @apply rounded-br-lg;
            }
          }
        }

        &:hover {
          @apply bg-gray-200;
        }
      }
    }
  }

  .products {
    margin-bottom: 0 !important;
  }

  .pagination {
    @apply w-full flex justify-center items-center;

    a,
    span {
      @apply text-base px-4 py-2;

      &.current {
        @apply font-bold;
      }

      &.prev,
      &.next {
        @apply text-sm bg-primary leading-none w-8 h-8 inline-flex justify-center items-center text-white rounded-lg px-0;
      }
    }
  }
}
